{% extends 'base.html' %}
{% load static %}
{% block title %}Signup{% endblock %}

{% block content %}
    <div class="lg:flex justify-center items-center">
        <div class="w-2/3 px-6 mr-4">
            <img src="{% static 'images/review_register.svg' %}" alt="Review starts" class="inline-block">
        </div>
        <div class="w-2/3">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="">
                        <div class="text-xs text-red-400">{{ field.errors }}</div>
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <div class="mb-4 text-sm text-slate-500"> {{ field.help_text|safe }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button
                        type="submit"
                        class="border border-gray-700 bg-gray-700 text-white rounded-md px-4 py-2 my-2 transition duration-500 ease select-none hover:bg-gray-800 focus:outline-none focus:shadow-outline"
                >
                    Register
                </button>
            </form>
        </div>
    </div>

{% endblock %}