{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Feedback System | {% block title %} Home{% endblock %}</title>
    <link href="{% static 'styles/build/main.css' %}" rel="stylesheet">
</head>
<body>
{% include 'partials/navbar.html' %}
<main class="container max-w-7xl mx-auto min-h-screen">

    {% if messages %}
        {% for message in messages %}
            <div
                    class="mb-3 inline-flex w-full items-center rounded-lg bg-green-300 px-3 py-3 text-base text-green-700"
                    role="alert">
                  <span class="mr-2">
                    <i class="fa-solid fa-circle-check"></i>
                  </span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</main>

</body>
</html>